#quote-box {
  background-color: white;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(50%, 50%);
  border-radius: 0.5rem;
  border-color: black;
  border-width: 1px;
}

#new-quote {
  border-radius: 10px;
  margin: 1rem;
  border-width: 0px;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  transition: 0.5s ease-in-out;
  background: linear-gradient(#0000, rgb(0 0 0/40%)) top/100% 800%;
}

#new-quote:hover {
  cursor: pointer;
  background-position: bottom;
}

#action-button-contianer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote-box-contents {
  margin: 2rem;
}

.tweet-quote {
  margin: 1rem;
}

#text, #author{
  transition: color 0.5s ease-in-out;
}

#tweet-quote {
  padding-left: 5px;
}