.App {
  color: white;
}

#quote-box {
  background-color: black;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(50%, 50%);
}